/* Dark mode colors. */
:root {
	--sl-color-accent-low: #202024;
	--sl-color-accent: #4095c6;
	--sl-color-accent-high: #80b8d9;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c6c8ce;
	--sl-color-gray-3: #a0a4ae;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #24272f;
	--sl-color-black: #17181c;
	@media (min-width: 50rem) {
		.hero {
			grid-template-columns: 7fr 4fr;
			gap: 3%;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low:  #80a9cd;
	--sl-color-accent: #005095;
	--sl-color-accent-high: #003e74;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
}

